<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--    starting page-->
    <welcome-file-list>
        <welcome-file>/view/login/login.jsp</welcome-file>
    </welcome-file-list>
<!--    starting page end-->
<!--login-->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>main.java.controller.HTTP_Session.User_Set</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
<!--    login end-->
<!--    user name show-->
    <servlet>
        <servlet-name>userName</servlet-name>
        <servlet-class>main.java.controller.HTTP_Session.User_Show</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userName</servlet-name>
        <url-pattern>/userName</url-pattern>
    </servlet-mapping>
<!--    user name show end-->
<!--    index-->
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>main.java.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
<!--    index end-->
<!--    add-->
<servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>main.java.controller.request_Dispatcher.AddServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
<!--    add end-->
<!--    result-->
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>main.java.controller.request_Dispatcher.ResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
<!--    result end-->
<!--    multiply-->
    <servlet>
        <servlet-name>multiply</servlet-name>
        <servlet-class>main.java.controller.send_Redirect.MultiplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>multiply</servlet-name>
        <url-pattern>/multiply</url-pattern>
    </servlet-mapping>
<!--    multiply end-->
    <!--    result-->
    <servlet>
        <servlet-name>result_mul</servlet-name>
        <servlet-class>main.java.controller.send_Redirect.ResulServlet_mul</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>result_mul</servlet-name>
        <url-pattern>/result_mul</url-pattern>
    </servlet-mapping>
    <!--    result end-->
<!--    shopping cart-->
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>main.java.controller.Cookies.AddCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
<!--    shopping cart end-->
<!--    shopping cart show-->
    <servlet>
        <servlet-name>cartShow</servlet-name>
        <servlet-class>main.java.controller.Cookies.ShowCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartShow</servlet-name>
        <url-pattern>/cartShow</url-pattern>
    </servlet-mapping>
<!--    shopping cart show end-->
<!--    web app constant-->
    <context-param>
        <param-name>webapp_name</param-name>
        <param-value>Java_WEB_01</param-value>
    </context-param>
<!--    web app constant end-->
<!--    web app value caller-->
    <servlet>
        <servlet-name>webAppCaller</servlet-name>
        <servlet-class>main.java.controller.Context_Config.WebApp_Constant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webAppCaller</servlet-name>
        <url-pattern>/webAppCaller</url-pattern>
    </servlet-mapping>
<!--    web app value caller end-->

    <!--    servlet parameter caller-->
    <servlet>
        <servlet-name>servletName</servlet-name>
        <servlet-class>main.java.controller.Context_Config.Servlet_Constant</servlet-class>
<!--        servletName-->
        <init-param>
            <param-name>servletName</param-name>
            <param-value>test_servlet_demo</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletName</servlet-name>
        <url-pattern>/servletName</url-pattern>
    </servlet-mapping>
    <!--    servlet parameter caller end-->
</web-app>